{%  extends "base.html" %}
{% block content %}

    {% if page_obj.has_previous %}
        <a href="{{ page_obj.previous_page_number }}"><<<</a>
        {% else %}
            <<<
    {% endif %}

    {% for num_page in page_obj.paginator.page_range %}
        {% if num_page != page_obj.number %}
            <a href="?page={{ num_page }}">{{ num_page }}</a>
        {% else %}
            {{ num_page }}
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
    {% else %}
            >>>
    {% endif %}


    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Артикул</th>
              <th scope="col">Наименование</th>
              <th scope="col">Розничная цена</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.articul }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.price_rozn }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}

    {% endif %}
{% endblock %}